#root {
  --primary-color: #0A1ECC;
}

header {
  display: grid;
  grid-template-columns: 20px auto 160px;
  grid-template-areas: "left-side title login-info";
  background-color: var(--primary-color);
  padding: 0 20px;
  grid-area: header;

}

h1 {
  grid-area: title;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

button {
  border-radius: 5px;
  border-style: none;
  background-color: var(--primary-color);
  color: white;
  padding: 6px 12px;
  font-size: 16px;
  cursor:pointer;
}

/* USER INFO START */

.user-info-container {
  grid-area: login-info;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.user-info-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: white;
  margin-left: 10px;
}

.user-info-name {
  background: none;
  color: white;
  border: none;
  appearance: none;
  text-align: right;
  margin: 0;
}

.user-info-logout {
  background: none;
  padding: 0;
  font-style: italic;
  font-size: 14px;
}

/* USER INFO ENDS  */
/* SIGN IN STARTS */

.sign-in-container {
  position:  absolute;
  background: white;
  left: 50%;
  margin-left: -200px;
  top: 150px;
  width: 400px;
  border: 2px solid grey;
  border-radius: 20px;
  z-index: 3;
}

.sign-in-container h2, .sign-in-container h4 {
  margin: 5px;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.sign-in-select {
  margin-bottom: 15px;
}

.sign-in-user {
  width: 80%;
  background-color: #EEEEEE;
  border-radius: 20px;
  margin-bottom: 15px;
}

.sign-in-user-photo {
  border: 1px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: lightgrey;
}

.sign-in-user-text {
  margin: 5px 0px;
}

/* SIGN IN ENDS */

.game-board {
  grid-area: gameboard;
}
/* WOULD YOU RATHER CARD START */
.wyr-card{
  width: 600px;
  height: 400px;
  position: relative;
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wyr-card h2 {
  position: absolute;
  left: 60px;
  top: 40px;
  margin: 0;
}

.wyr-card-button {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background: white;
  color: black;
  border-radius: 15px;
  font-size: 20px;
}

.wyr-card-button-selected{
  background-color: var(--primary-color);
  color: white;
  font-size: 24px;
}

.submit-answer-container {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.submit-answer-button {
  background: white;
  color: black;
  margin-left: 15px;
  border: 1px solid black;
}

/* WOULD YOU RATHER CARD ENDS  */


.App {
  text-align: center;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-areas:
    "header header header"
    "gutterL gameboard gutterR";
  grid-row-gap: 50px;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
